.create-post {
    margin: 1rem;
}

.editing-help {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.visible-space {
    background-color: rgb(136, 255, 136);
    white-space: pre;
    border: 1px solid green;
}

#post-content {
    min-height: 60vh;
}
