.edition-item {
    padding: 0.5rem;
    padding-left: none;
}

.edition-title {
    font-weight: bold;
    text-decoration: none;
}

.edition-title {
    border-bottom: 2px solid var(--border);
    width: auto;
}

.edition-desc {
    font-size: 0.9rem;
}

.edition-desc p {
    margin: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-aspect-ratio: 1/1) {
    .editions {
        grid-template-columns: 1fr;
    }
}