.feed-wrapper h3 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    text-align: center;
}

.current-edition-info {
    text-align: center;
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-edition-info p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.posts-heading h2 a,
.feed-wrapper h3 a {
    font-size: 0.9rem;
}

.feed-wrapper {
    width: calc(100% - 1rem);
}

.feeds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    gap: 1rem;
    place-items: center;
    width: 100%;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-desc>p:last-of-type {
    text-align: center;
}

.feed .post-item {
    margin-top: 1rem;
    width: 100%;
}

@media screen and (max-aspect-ratio: 1/1) {
    .feeds {
        grid-template-columns: 1fr;
    }

    .feed-wrapper {
        width: 95%;
    }

    .feed .post-item {
        width: calc(100% - 2rem);
    }
}