:root {
    --highlight-color: rgba(238, 250, 196, 1);
}

.updated-time,
.view-count {
    color: #555;
}

.post-meta {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post-details {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.post-author .author {
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    margin-top: 0.25rem;
}

#comment-body {
    min-height: 6ch;
}

body > :not(header):not(footer) {
    max-width: calc(100% - 2rem);
}

.comment {
    width: 80%;
    border: 2px solid;
    padding: 0.5rem;
    margin: 0.5rem;
    position: relative;
}

.comment-author {
    font-weight: bold;
    font-size: 0.9rem;
}

.comment-meta {
    color: #555;
    font-size: 0.9rem;
    font-style: italic;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-end;
}

.comment-reply {
    font-style: normal;
    color: black;
}

.comment-body blockquote {
    font-size: 0.9rem;
}

.comment-first-line {
    display: flex;
    gap: 0.25rem;
}

.comments {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-body p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.comment-body p:first-child {
    margin-top: 0;
}

.comment-body p:last-child {
    margin-bottom: 0;
}

.post-tags {
    margin-bottom: 0.5rem;
}

.comment:target {
    box-shadow: 0 -10px 0 1.2rem var(--highlight-color);
    margin-top: 1.9rem;
    margin-bottom: 0.75rem;
}

.comment:target::before {
    content: "Highlighted comment";
    position: absolute;
    left: -0.2rem;
    top: -1.6rem;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    color: #444;
}

@media screen and (max-aspect-ratio: 1/1) {}
