<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writers Jam{% if title %} - {{ title | escape }}{% endif %}</title>
    
    <style>
        html.customizing {
            visibility: hidden;
        }
    </style>

    <script>
        document.documentElement.classList.add('customizing');
    </script>
    <script type="importmap">
        {
            "imports": {
                "@campfire/core": "https://esm.sh/jsr/@campfire/core@4.0.3",
                "marked": "https://esm.sh/marked@^16.0.0",
                "marked-smartypants": "https://esm.sh/marked-smartypants@1.1.10",
                "sanitize-html": "https://esm.sh/sanitize-html@^2.17.0",
                "@twocaretcat/tally-ts": "https://esm.sh/jsr/@twocaretcat/tally-ts@2.0.0",
                "turndown": "https://esm.sh/turndown@7.2.2",
                "turndown-plugin-gfm": "https://esm.sh/turndown-plugin-gfm@1.0.2",
                "cf-alert": "https://esm.sh/cf-alert@0.4.1",
                "javascript-time-ago": "https://esm.sh/javascript-time-ago@2.5.11",
                "javascript-time-ago/locale/en": "https://esm.sh/javascript-time-ago@2.5.11/locale/en"
            }
        }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% block head_extras %}{% endblock %}
</head>

<body>
    <header>
        <h1>
            <a href="/">Writers Jam</a>
        </h1>
        <a href="/posts" class="icon" style="margin-left: auto" aria-label="Search" title="Search" role="button">
            <i class="iconoir-search"></i>
        </a>
        <a href="/post" class="icon" aria-label="New post" title="Start writing" role="button">
            <i class="iconoir-plus"></i>
        </a>
        <a href="/post/random" id="random-btn" aria-label="Random post" title="Random post" role="button">
            <i class="iconoir-dice-five"></i>
        </a>
    </header>

    {%if heading %}
    <h2>{{ heading | escape }}</h2>
    {% elsif title %}
    <h2>{{ title | escape }}</h2>
    {% endif %}

    {% block content %}
    {% endblock %}

    <div class="footer-socials">
        <a class="btn" href="{{ whatsappUrl }}" target="_blank" rel="noopener noreferrer"
            aria-label="Join the WhatsApp group" title="Join the WhatsApp group">
            <i class="iconoir-whatsapp"></i>
        </a>
        <a class="btn" href="https://github.com/xyzshantaram/writers-jam" target="_blank" rel="noopener noreferrer"
            aria-label="Visit our GitHub repository" title="Visit our GitHub repository">
            <i class="iconoir-github"></i>
        </a>
    </div>

    <footer class=invert>
        <div class="footer-socials">
            <a class="btn" id='settings-btn' href="javascript:void(0)" 
                aria-label="Site settings" title="Site settings">
                <i class="iconoir-settings"></i>
            </a>
        </div>
        
        <ul class="footer-links">
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms">Terms of Service</a></li>
        </ul>
        <div>Copyright &copy; 2025 <a href='https://shantaram.xyz'>Siddharth Singh</a></div>
    </footer>

    <dialog></dialog>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            document.documentElement.classList.remove('customizing');
        })
    </script>
    <script type="module" src="/js/base.js"></script>
</body>

</html>