{% block head_extras %}
<link rel="stylesheet" href="/styles/editions.css">
{% endblock %}

{% layout "base.liquid" heading: "Editions" %}

{% block content %}

<div class="editions">
    {% for edition in editions %}
        <div class="edition-item">
            <a href="/editions/{{ edition.id }}" class="edition-title">{{ edition.name }}</a>
            {% if edition.description %}
                <div class="edition-desc">{{ edition.description | parse_md | raw }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
