{% layout "base.liquid" %}

{% block content %}

<details>
    <summary class="invert">{{ code }} - {{ name }}</summary>
    <p>{{ details }}</p>
</details>
<p class="small gray"><em>Tap above to view error details.</em></p>
{% endblock %}