{% block extra_head %}
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/post-preview.css">
{% endblock %}

{% layout "base.liquid", heading:"Welcome to Writers Jam!", title:title %}
{% block content %}

<p>
    {% if postCount %}
        <span class="counter">{{ postCount }}</span> posts so far
    {% endif %}
    {% if postCount and viewCount %}
        totalling <span class="counter">{{ viewCount }}</span> views
    {% endif %}
</p>

{{ description | parse_md | raw }}

<a class="btn invert" href="/post"><strong>Get started!</strong></a>

<div><h2>Posts</h2>(<a href="/posts">View all</a>)</div>

<div class="feeds">
    <div class="feed-wrapper">
        <h3 title="Random posts from the latest edition">Current Edition</h3>
        <div class="feed current-edition">
            {% for post in feeds.currentEdition %}
                {% render 'partials/post.liquid' post: post %}
            {% endfor %}
        </div>
    </div>

    <div class="feed-wrapper">
        <h3 title="Posts with less than 2 comments or 15 views">Slept-on</h3>
        <div class="feed slept-on">
            {% for post in feeds.sleptOn %}
                {% render 'partials/post.liquid' post: post %}
            {% endfor %}
        </div>
    </div>

    <div class="feed-wrapper">
        <h3>Recently updated</h3>
        <div class="feed latest">
            {% for post in feeds.latest %}
                {% render 'partials/post.liquid' post: post %}
            {% endfor %}
        </div>
    </div>

    <div class="feed-wrapper">
        <h3>Highly viewed</h3>
        <div class="feed most-viewed">
            {% for post in feeds.mostViewed %}
                {% render 'partials/post.liquid' post: post %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
