{% layout "base.liquid", heading: "Terms of Service" %}

{% block content %}

<p>
  Welcome. This website is a weekend writing project, open to everyone. 
  By using this site you agree to the terms below.
</p>


<ol>
<li><strong>No ownership or responsibility.</strong>
  <p>
    We do not claim ownership of content posted by users. We are not responsible for any 
    content on this site, or actions (or consequences thereof) resulting from the use of this site.
  </p>
</li>


<li><strong>Anonymity.</strong>
<p>Everything here is anonymous. There is no verification and we do not track or verify user identities.</p>
</li>


<li><strong>No data storage or cookies.</strong>
  <p>
    We do not use cookies or third party trackers. We strive not to store any personal data 
    at all, except your preferences limited to this website (color theme, display font).
  </p>
</li>


<li><strong>User responsibility.</strong>
  <p>
    You are solely responsible for your activity and safety online. Do not post anything illegal, 
    harmful, or abusive. Do not share personal or sensitive information. See our "Changes or Removal" policy below.
  </p>
</li>


<li><strong>Promotional use license.</strong>
  <p>
    w.e.f 2025-08-19, by posting content on this site you grant the site operators a 
    <strong>non-exclusive, revocable</strong> license to reproduce and share your post 
    <strong>non-commercially</strong> for promotional purposes  (for example: showcasing the site on social 
    media, newsletters, or promotional pages). This license does not transfer ownership and is limited to 
    non-commercial, promotional use.
  </p>
  <p>
    You may revoke this license at any time by contacting any site admin (via WhatsApp or by opening a GitHub 
    issue). Revocation will be effective after the site operators process the revocation request; until 
    then previously published promotional uses already made may remain visible.
  </p>

  <p>
    A note on post deletion: Deleted posts will not be displayed on the site. However, if a post was previously 
    shared (say, on Writers Jam social media) for promotional purposes before deletion, those uses may remain 
    visible since we have no way of knowing the post was deleted after the fact. Please contact us in such a case.
  </p>
</li>


<li><strong>Changes or removal.</strong>
  <p>
    We reserve the right to change or remove content, or to shut down the site for any reason, at any time.
  </p>
</li>

<li><strong>No guarantees of uptime.</strong>
  <p>
    This site is provided "as is." We make no guarantees about uptime, availability, 
    or uninterrupted access. We will try our best to keep the site running smoothly, 
    but outages or shutdowns may occur without notice.
  </p>
</li>

</ol>

<p>If you do not agree to these terms, do not use the site. Enjoy writing!</p>

{% endblock %}